n8nWorkflows/EndpointServer.json
{
  "name": "EndpointServer",
  "nodes": [
    {
      "parameters": {
        "path": "mock/",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "un_id_aleatorio",
      "name": "Webhook",
      "webhookId": "un_id_aleatorio"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT response_body, status_code \nFROM endpoints \nWHERE path = '{{ $json.query.path }}'\nAND method = 'GET';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "a9ed6a2a-c98b-47d1-986c-c312c7992393",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "miAPIKey",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (!$json.response_body) {\n  return {\n    json: { error: \"Endpoint no encontrado\" },\n    options: { responseCode: 404 }\n  };\n}\n\nreturn {\n  json: $json.response_body,\n  options: {\n    responseCode: $json.status_code\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "fce2f749-d811-416e-b460-22a16a4635d6",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "399448ea-27f6-484c-962c-1ab9d4037af2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "id_unico"
  },
  "id": "blIjSeHJPJaYSDn6",
  "tags": []
}